:root {
    --color-blanco-fuerte: rgb(255, 255, 255);
    --color-blanco: rgb(240, 240, 240);
    --color-azul-fuerte: rgb(92, 114, 234);
    --color-azul: rgb(42, 47, 67);
    --color-gris: rgb(200, 200, 200);
    --color-negro: rgb(100, 100, 100);
    --cabecera-alto: 50px;
    --lateral-ancho: 240px;
}

body {
    background-color: var(--color-blanco);
    font-family: sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#wrapper {
    display: inline-block;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: scroll;
    z-index: 1;
}

#wrapperLogin {
    width: 100% !important;
}

header {
    background-color: var(--color-blanco-fuerte);
    font-weight: bold;
    display: block;
    width: 100%;
    box-shadow: 0 3px 10px var(--color-gris);
    height: var(--cabecera-alto);
    position: fixed;
}

header nav ul li:hover {
    background-color: var(--color-azul-fuerte);
    color: var(--color-blanco-fuerte);
    border-radius: 2px;
}

header nav ul li {
    display: inline-block;
    padding: 16px;
    text-align: center;
    color: var(--color-negro);
    float: right;
}

aside {
    z-index: 3;
    width: var(--lateral-ancho);
    display: inline-block;
    height: calc(100vh - var(--cabecera-alto));
    background-color: var(--color-azul);
    font-weight: bold;
    height: 100vh;
    vertical-align: top;
}

aside #logo {
    display: block;
    padding: 16px;
    text-align: center;
    color: var(--color-blanco-fuerte);
    border-bottom: 1px solid var(--color-negro);
}

aside ul {
    border-bottom: 1px solid var(--color-negro);
    padding: 16px 0;
    list-style-type: none;
}

aside ul li {
    padding: 16px;
}

aside ul a {
    color: var(--color-gris);
}

aside ul a:hover {
    color: var(--color-blanco-fuerte);
}

aside ul #reportes {
    background-color: var(--color-azul-fuerte);
    color: var(--color-blanco-fuerte);
    position: fixed;
    bottom: 0;
    left: 0;
    width: var(--lateral-ancho);
    box-sizing: border-box;
    text-align: center;
}

section {
    display: block;
    padding: 24px;
    right: 0;
    margin-top: var(--cabecera-alto);
}

section table {
    width: 100%;
    box-shadow: 0 0 25px var(--color-gris);
}

section table thead th {
    background-color: var(--color-azul);
    color: var(--color-blanco-fuerte);
    padding: 12px;
}

section table tbody tr {
    background-color: var(--color-blanco-fuerte);
}

section table tbody td {
    padding: 4px;
}

section table input {
    background-color: transparent;
    box-sizing: border-box;
}

section table input[type="text"] {
    padding: 8px;
    width: 100%;
    border: 0;
    outline: none;
}

section table input[type="text"]:not([readonly]) {
    border: 1px solid var(--color-negro);
}

section table .boton {
    padding: 8px;
    color: var(--color-blanco-fuerte);
    font-weight: bold;
    cursor: pointer;
    background-color: var(--color-azul-fuerte);
    border-radius: 4px;
    margin: 0 4px;
    border: 0;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

section table .boton:hover {
    border: 2px solid var(--color-azul);
    padding: 6px;
}

section table form {
    display: inline-block;
    vertical-align: top;
}

#wrapperLogin section {
    background-color: var(--color-blanco-fuerte);
    width: 320px;
    display: block;
    margin: 128px auto;
    padding: 32px;
    border-radius: 24px;
}

#wrapperLogin section h1 {
    display: block;
    text-align: center;
    margin-bottom: 32px;
    color: var(--color-negro);
}

#wrapperLogin section input {
    display: block;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid var(--color-gris);
    margin: 16px 0;
}

#wrapperLogin section #login {
    background-color: var(--color-azul-fuerte);
    color: var(--color-blanco-fuerte);
    font-weight: bold;
}

.centrado {
    text-align: center;
}

#asideFuera {
    display: none;
}

@media only screen and (max-width:768px) {
    header {
        width: 100% !important;
    }
    aside {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
    }
    #asideFuera {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background-color: rgba(0,0,0,0.45);
    }
    #wrapper {
        display: block !important;
        width: 100% !important;
    }

    #wrapperLogin section {
        width: 100% !important;
        box-sizing: border-box;
    }
}